In [1]:
import pandas as pd

In [2]:
url1 = "https://en.wikipedia.org/wiki/List_of_video_game_developers"
url2 = "https://en.wikipedia.org/wiki/List_of_video_game_publishers"
url3 = "https://en.wikipedia.org/wiki/List_of_indie_game_developers"
list_df_tables = pd.read_html(url1)
list_df_tables_2 = pd.read_html(url2)
list_df_tables_3 = pd.read_html(url3)
print(list_df_tables)

[    0                                                  1
0 NaN  This article needs to be updated. Please help ...,                                                    0
0                            Part of a series on the
1                                Video game industry
2  Development Producer Developer Designer Artist...
3  Products Video game Specialized / alternative-...
4  Publishing Markets China U.S. Japan South Kore...
5  Distribution and monetization Buy-to-play AAA ...
6               Related Game studies Game journalism
7  Lists List of video game developers Indie List...
8  .mw-parser-output .navbar{display:inline;font-...,     0                                                  1
0 NaN  This list related to video games is incomplete...,                               0
0          Active independently
1          Active as subsidiary
2  Defunct and no longer active,               Developer           City Administrative division
0              0verflow          Tokyo                     NaN  \
1        11 bit studios         Warsaw    Masovian Voivodeship
2            1C Company         Moscow                     NaN
3           1-Up Studio          Tokyo                     NaN
4              2K Czech           Brno                     NaN
..                  ...            ...                     ...
724         Zen Studios       Budapest                     NaN
725  Zipper Interactive        Redmond              Washington
726      Zombie Studios        Seattle              Washington
727             ZootFly      Ljubljana                     NaN
728               Zynga  San Francisco              California

            Country  Est.                Notable games, series or franchises
0             Japan  1997                 School Days Summer Days Cross Days  \
1            Poland  2010                         This War of Mine Frostpunk
2            Russia  1991               King's Bounty: Warriors of the North
3             Japan  2000                                           Mother 3
4    Czech Republic  1997                                     Mafia Mafia II
..              ...   ...                                                ...
724         Hungary  2003                                  Pinball FX series
725   United States  1995         SOCOM U.S. Navy SEALs series MechWarrior 3
726   United States  1994  Spec Ops: Rangers Lead the Way Blacklight: Ret...
727        Slovenia  2002                Marlow Briggs and the Mask of Death
728   United States  2007                              FarmVille Zynga Poker

                                                 Notes
0    Visual Novel brand (both developer and publisher)
1                            Indie developer/publisher
2    The company still exists, but Snowball Studios...
3    Subsidiary of Nintendo. Formed by former emplo...
4    Former subsidiary of 2K; previously known as I...
..                                                 ...
724            Acquired by Embracer Group in 2020.[18]
725   Shut down in 2012 by Sony Computer Entertainment
726                                                NaN
727                            Acquired by Elektroncek
728  Social network game developer; acquired by Tak...

[729 rows x 7 columns],    vteCompanies by industry                         vteCompanies by industry.1
0                   Apparel  Fitness wear Lingerie Socks Sporting goods Swi...
1                    Energy  Chemical Oil and gas Oil exploration and produ...
2                   Finance  Asset management Banks international investmen...
3        Food and beverages  Beer and breweries Casual dining Champagne hou...
4                Healthcare           Biotechnology Health club Pharmaceutical
5             Manufacturing  Aerial lift Aircraft Astronomical instruments ...
6   Media and entertainment  Animation anime Cable television Children's bo...
7                    Retail  Book clubs Bookstores chains independent femin...
8                  Services  Casinos Construction equipment rental Hotels L...
9                    Sports  Cycling Disc golf Golf Mountaineering Skateboa...
10               Technology  Advertising technology Automation integrator C...
11           Transportation  Airlines charter defunct flag holding low-cost...
12            Miscellaneous                                 Lists of companies]

In [3]:
data_developers = list_df_tables[4]
data_developers.head()

,Developer,City,Administrative division,Country,Est.,"Notable games, series or franchises",Notes
0,0verflow,Tokyo,NaN,Japan,1997,School Days Summer Days Cross Days,Visual Novel brand (both developer and publisher)
1,11 bit studios,Warsaw,Masovian Voivodeship,Poland,2010,This War of Mine Frostpunk,Indie developer/publisher
2,1C Company,Moscow,NaN,Russia,1991,King's Bounty: Warriors of the North,"The company still exists, but Snowball Studios..."
3,1-Up Studio,Tokyo,NaN,Japan,2000,Mother 3,Subsidiary of Nintendo. Formed by former emplo...
4,2K Czech,Brno,NaN,Czech Republic,1997,Mafia Mafia II,Former subsidiary of 2K; previously known as I...

In [4]:
data_developers = data_developers.drop(columns=['Administrative division', 'Est.', 'Notable games, series or franchises', 'Notes'])
data_developers.head()

        Developer    City         Country
0        0verflow   Tokyo           Japan
1  11 bit studios  Warsaw          Poland
2      1C Company  Moscow          Russia
3     1-Up Studio   Tokyo           Japan
4        2K Czech    Brno  Czech Republic

In [13]:
data_publishers = list_df_tables_2[1]
data_publishers.head()

,Publisher,Location,Est.,Notable games published,Notes
0,07th Expansion,Japan,2002.0,Higurashi When They Cry Umineko When They Cry ...,NaN
1,11 bit studios,"Warsaw, Poland",2010.0,Frostpunk This War of Mine Moonlighter,"video game developer, marketer, and distributor"
2,1C Company,"Moscow, Russia",1991.0,Il-2 series Men of War series,specializes in localization for Russia
3,20th Century Games,"Century City, California, United States",2022.0,Aliens: Dark Descent,Licensor for games based on 20th Century Studi...
4,2K Games,"Novato, California, United States",2005.0,NBA 2K WWE 2K,video game marketer and distributor; subsidiar...

In [14]:
data_publishers = data_publishers.drop(columns=['Est.', 'Notable games published', 'Notes'])
data_publishers.head()

            Publisher                                 Location
0      07th Expansion                                    Japan
1      11 bit studios                           Warsaw, Poland
2          1C Company                           Moscow, Russia
3  20th Century Games  Century City, California, United States
4            2K Games        Novato, California, United States

In [58]:
data_publishers[['City', 'Administrative area', 'Country']] = data_publishers['Location'].str.split(', ', expand=True, n=2)
data_publishers

,Publisher,Location,City,Administrative area,Country
0,07th Expansion,Japan,Japan,None,None
1,11 bit studios,"Warsaw, Poland",Warsaw,Poland,None
2,1C Company,"Moscow, Russia",Moscow,Russia,None
3,20th Century Games,"Century City, California, United States",Century City,California,United States
4,2K Games,"Novato, California, United States",Novato,California,United States
...,...,...,...,...,...
906,Zoom,"Sapporo, Japan",Sapporo,Japan,None
907,Zuxxez Entertainment,"Karlsruhe, Germany",Karlsruhe,Germany,None
908,Zushi Games,"Sheffield, England, United Kingdom",Sheffield,England,United Kingdom
909,Zynga,"San Francisco, California",San Francisco,California,None
910,ZyX,Japan,Japan,None,None

In [18]:
data_publishers['Location'] = data_publishers['Location'].astype(str)
data_publishers['City'] = ''
data_publishers['Country'] = ''

# Loop through each row
for index, row in data_publishers.iterrows():
    names = row['Location'].split(', ')

    if len(names) == 1:
        data_publishers.at[index, 'Country'] = names[0]
    elif len(names) > 1:
        data_publishers.at[index, 'City'] = names[0]
        data_publishers.at[index, 'Country'] = names[-1]

data_publishers = data_publishers.drop(columns=['Location'])
data_publishers.head()

,Publisher,Location,City,Country
0,07th Expansion,Japan,,Japan
1,11 bit studios,"Warsaw, Poland",Warsaw,Poland
2,1C Company,"Moscow, Russia",Moscow,Russia
3,20th Century Games,"Century City, California, United States",Century City,United States
4,2K Games,"Novato, California, United States",Novato,United States

In [36]:
data_indie = list_df_tables_3[2]
data_indie.head()

,Developer,City,Autonomous area,Country,Notable games,Notes
0,17-Bit,Kyoto,NaN,Japan,".mw-parser-output .plainlist ol,.mw-parser-out...",Founded as Haunted Temple Studios in 2009
1,ACE Team,Santiago,Santiago,Chile,Zeno ClashRock of Ages,NaN
2,Akupara Games,Los Angeles,California,United States,Whispering WillowsThe Metronomicon: Slay the D...,Includes developer and porting credited titles
3,Alec Holowka,Winnipeg,Manitoba,Canada,Crayon Physics DeluxeI'm O.K – A Murder Simula...,NaN
4,Alientrap,Saskatoon,Saskatchewan,Canada,CapsizedApotheon,NaN

In [37]:
data_indie = data_indie.drop(columns=['Autonomous area', 'Notable games', 'Notes'])
data_indie.head()

       Developer         City        Country
0         17-Bit        Kyoto          Japan
1       ACE Team     Santiago          Chile
2  Akupara Games  Los Angeles  United States
3   Alec Holowka     Winnipeg         Canada
4      Alientrap    Saskatoon         Canada